.OrderSummary{
    text-align: center;
    
}
.OrderSummary button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    border: 2px solid #AA6817;
    cursor: pointer;
    outline: none;
  }
  
  .buttons{    
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .burger {
    background-color:green;
    width: 100%;
    margin: auto;
    height: 10%;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}