.BurgerControls{
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    top: 55%;
}

.BurgerControls .button1{
    display: block;
    font: inherit;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(90, 52, 5);
    color: black;
    cursor: pointer;
    outline: none;
    width: 150px;   
    height: 30px;
}
.button1:disabled{
    background-color:#CF8F2E;
    border: 3px solid rgb(90, 52, 5);
}