.BurgerIngredients{
    margin: 0.5% auto;
    width : 15%;
    height: 10%;
    color: black;
    align-items: center;
}
.salad{
    margin:auto;
    background-color: green;
    width:90%;
    height: 100%;
    border-radius: 20px;
}
.cheese{
    margin:auto;
    background-color: yellow;
    width:100%;
    height:100%;
    border-radius: 20px;
}
.meat{
    margin:auto;
    background-color: darkred;
    width:90%;
    height: 100%;
    border-radius: 20px;
}
.patty{
    margin:auto;
    background-color: rgb(85, 45, 8);
    width:80%;
    height: 100%;
    border-radius: 20px;
}
.breadTop{
    margin:auto;
    background-color: rgb(206, 119, 70);
    width:100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.breadBottom{
    margin:auto;
    background-color: rgb(206, 119, 70);
    width:100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}