.CheckoutSummary{
    background-color: yellow;
}
 
.buttons{    
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.alignItems{
  position: fixed;
  bottom: 0;
  margin-bottom: 80px;
  left: 0;
  right: 0;
  z-index:100;
}